<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel = "stylesheet" href = "~/lib/css/bootstrap.min.css" />
    <link rel = "stylesheet" href = "~/css/Home.css" />
</head>
<body>
    <div class = "col-lg-10 offset-lg-1 myform">
        @RenderBody()
    </div>
</body>
</html>
